.ms_margin_left{
    margin-left: 20px;
}

.ms_padding_left{
    padding: 0 20px;
}

.ms_width_google{
    width: 150px;
}

.ms_accessories{
    font-size: 30px;
    margin-left: -20px;
}

.ms_color{
    color: gray;
}

.ms_font{
    font-size: 20px;
}

.ms_p_btn{
    padding: 5px 20px;
}

.ms_margin{
    margin: 20px;
}

.ms_border_bottom{
    border-bottom: 1px solid gray;
}

.ms_hover1{
    display: inline-block;
}

.ms_hover1:hover .ms_margin_left{
    color: rgb(19, 132, 189);
    border-bottom: 4px solid rgb(19, 132, 189);
    padding-bottom: 7px;
    cursor: pointer;
}

.ms_hover2:hover .ms_padding_left{
    color: rgb(19, 132, 189);
    border-bottom: 4px solid rgb(19, 132, 189);
    padding-bottom: 7px;
    cursor: pointer;
}

.ms_hover3:hover .ms_over{
    color: rgb(19, 132, 189);
    border-bottom: 4px solid rgb(19, 132, 189);
    padding-bottom: 7px;
    cursor: pointer;
}

.ms_hover4:hover .ms_over1{
    color: rgb(19, 132, 189);
    border-bottom: 4px solid rgb(19, 132, 189);
    padding-bottom: 7px;
    cursor: pointer;
}

.ms_hover5:hover .ms_hover{
    color: rgb(19, 132, 189);
    border-bottom: 4px solid rgb(19, 132, 189);
    padding-bottom: 7px;
    cursor: pointer;
}